.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mydiv {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

.mydiv h1{
  color: darkgreen;
}

.mydiv table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 300px;
  border: 3px solid #ccc;
  padding: 10px;
}

.mydiv th, .mydiv td {
  border: 1px solid green;
  padding: 8px 16px;
  text-align: center;
  color: green;
}

.mydiv th {
  background-color: #f2f2f2;
}